.linebg {
  background: linear-gradient(-45deg, hsl(210, 4%, 70%), hsl(260, 20%, 40%));
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  padding: 0.4rem;
  width: 25%;
  border-radius: 5px;
}

.circleBg {
  background: linear-gradient(-45deg, hsl(210, 4%, 70%), hsl(260, 20%, 40%));
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
  padding: 0.4rem;
  border-radius: 20px;
  margin-right: 10px;
}
.realWrapper {
  display: flex;
  justify-content: center;
  & div:first-child {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 18px;
    transform: rotate(-20deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
